{% extends "page.twig" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>stripe-api-php</h1>
            <p>An object-oriented PHP client library for <a href="https://stripe.com/docs/api">Stripe</a>'s API.</p>
        </div>
        <section>{{ content|raw }}</section>
    </div>
{% endblock %}